header2{
    background-color:  #b1d235;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}

.Quick-links li a {
    text-decoration: none;
}

.footer-row
{
  display: flex;
  justify-content: space-around;
}

.footer{
    background-color: #101010;
}

.submit-feedback{
    color: #b1d235;
}

.cpl-md-6{
    display: flex;
    justify-content: space-between;
}