body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    top: 0;
    left: 0%;
    right: 0%;

}

.container{
    flex: 1;
}
.navbar{
    height: 5rem;
    background-color: white;
}

.fa-compass{
    color:#fe424d;
    font-size: 2rem;
}

.nav-link{
    color: #222222 !important;
}

/* main up header */



.header-icons a {
    margin-left: 10px;
    color: #fff;
    text-decoration: none;
}

header {
    background-color:  #b1d235;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
}


.header-icons {
    display: flex;
    align-items: center;
  
}
.header-icons a:hover {
    color: #ccc;
}



.social{
    padding-right: 1rem;
}
.phone{
    padding-left: 3rem;
    display: flex;
    align-content: space-around;
   
}

.message{
    padding-left: 30px;
}

@media only screen and (max-width: 600px) {
   
    .contact{
      display: none;
    }
}

.signup{
    display: flex;
    align-self: flex-end;
}

.logo {
    height: 70px;
    width: relative;
    margin-left: 20px;
    margin-right: 20px;
}

.main-up-header{
    position: sticky;
    top: 0;
    z-index: 1000;
}

 .nav-link.active {
    color: #b1d235;
    font-weight:700;
    text-decoration: underline;
    text-decoration-color: #b1d235;
    text-decoration-style: solid;
    text-decoration-thickness: 2px;
}

/*  footer */
.f-info-socials a{
    text-decoration: none;
    color: #222222;
}



.f-info-links a{
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover{
    text-decoration: underline;
}

.f-info-links, .f-info-socials, .f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i{
    
    font-size: 1.2rem;
    margin-right: 1rem;
}

.f-info-links a{
    margin-right: 1rem;
}

.f-info{
    display: flex;
    height: 8rem;
    background-color: #ebebebeb;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
    text-align: center;
}


/* card */

.card{
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;
}

.card-text p{
    font-weight: 400;
}

.listing-link{
    text-decoration: none;
}


/* caed effect*/
.card-img-overlay{
    opacity: 0;

}
 

.card-img-overlay:hover{
    opacity: 0.2rem;
    background-color: white;
}

.add-btn{
    background-color: #b1d235 !important;
    border: none !important;
}

/* show listing */

.show-img{
    height: 30vh;
}

.btns{
    display: flex;
  
    margin-bottom: 50px;
    
}

.delete{
    background-color: #fe424d !important;
}

/* home */

  


#why-choose-us {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
  .underlined{
    
    margin-top: 10px;
    text-decoration: 2px underline #b1d235 ;

  }
  #why-choose-us {
    transform: translateY(-5px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  #why-choose-us:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 10px #b1d235;
  }
  
  #why-choose-us-img {
    padding-top: 20px;
    padding-left: 30px;
    transition: transform 0.3s ease-in-out;
  }
  
  #why-choose-us-img:hover {
    transform: scale(1.05);
  }
  
  .card-body {
    padding: 2rem;
  }
  
  .card-text {
    padding-bottom: 1rem;
  }
  
  .list-group-item {
    padding: 1rem;
    border-bottom: 1px solid #ddd;
  }
  
  .list-group-item:hover {
    background-color: #f5f5f5;
  }
  
  .btn-primary {
    transition: transform 0.3s ease-in-out;
  }
  
  .btn-primary:hover {
    transform: translateY(-2px);
  }
  
  .btn-primary:focus {
    box-shadow: none;
  }

  
.card-title{
    font:bold;
    font: 1em sans-serif;
}

/* about us */





  
  
  
  .photo{
    height: fit-content;
    width: auto;
    align-self: center;
  }
  
  
  .content{
    height: 300px;
    width: auto;
    padding-left: 30px;
    margin-left: 10px;
  }
  
  .outer-div{
    display: flex;
    flex-direction: row;
    height: 800px;
  }
  
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 200px;
  }
  
  .photo {
    flex: 1 1 50%; 
    max-width: 50%; 
    padding: 20px;
  }
  
  .info {
    flex: 1 1 40%; 
    max-width: 40%; 
    padding: 10px;
  }
  
  .photo img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  
  @media (max-width: 768px) {
    .photo, .info {
      flex: 1 100%;
      max-width: 100%;
    }
  }
  
  .vertical-line {
    border-left: 2px solid #b1d235; 
    height: 300px;
    margin: 0 20px; 
    box-shadow: black;
  }
  
  @media only screen and (max-width: 768px) {
    .vertical-line {
        display: none; /* vertical line on smaller screens */
    }
  }
  
  /* Adjust the background image and text size for smaller screens */
@media screen and (max-width: 768px) {
    .parallax {
      background-size: cover;
    }
    
    .parallax h1 {
      font-size: 24px;
    }
    
    .parallax p {
      font-size: 14px  !important;
    }
  }
  
  
  .parallax {
    height: 70%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  margin-bottom: 200px;
  }
  
  .parallax h1{
    text-align: center;
    color: white;
    font-weight:bold;
    padding-top: 60px;
  }
  
  
  .parallax p{
    color: white;
    padding-top: 60px;
    font-size:larger;
    width: relative;
    margin-left: 2rem;
    margin-right: 2rem;
    text-align:center;
  }
  .parallax-1 {
    background-image: url('/public/images/parallax3.jpg');
    height: 100vh; 
    background-position: center;
  }
  
  
  
  /* Business */

  .main{
    display:flex;
    flex-direction: column;

    margin:50px;
}

.upper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 50px;

}

.lower{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.business {
    border-radius: 30px;
  background: #e0e0e0;
  box-shadow: 15px 15px 30px #bebebe,
             -15px -15px 30px #ffffff;
    --bs-card-spacer-y: 1rem;
    --bs-card-spacer-x: 1rem;
    --bs-card-title-spacer-y: 0.5rem;
    --bs-card-title-color: ;
    --bs-card-subtitle-color: ;
    --bs-card-border-width: var(--bs-border-width);
    --bs-card-border-color: var(--bs-border-color-translucent);
    --bs-card-border-radius: var(--bs-border-radius);
    --bs-card-box-shadow: ;
    --bs-card-inner-border-radius: calc(var(--bs-border-radius) -(var(--bs-border-width)));
    --bs-card-cap-padding-y: 0.5rem;
    --bs-card-cap-padding-x: 1rem;
    --bs-card-cap-bg: rgba(var(--bs-body-color-rgb), 0.03);
    --bs-card-cap-color: ;
    --bs-card-height: ;
    --bs-card-color: ;
    --bs-card-bg: var(--bs-body-bg);
    --bs-card-img-overlay-padding: 1rem;
    --bs-card-group-margin: 0.75rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: var(--bs-card-height);
    color: var(--bs-body-color);
    word-wrap: break-word;
    background-color: var(--bs-card-bg);
    background-clip: border-box;
    /* border: var(--bs-card-border-width) solid var(--bs-card-border-color); */
    border-radius: var(--bs-card-border-radius);
}


  
.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px; /* Add margin at the top for spacing */
}

.button-container button {
    flex-grow: 1; /* Each button takes up equal space */
    margin: 0 10px; /* Add margin around each button for spacing */
}


@media screen and (max-width: 768px) {
    body.navbar-collapsed {
      padding-top: 506px; 
    }
  }

  .navbar-collapse {
  
    background-color: white;
    
}


@keyframes coccoc-alo-ph-circle-fill {
    0% { transform: scale(0); }
    50% { transform: scale(1); opacity: 1; }
    100% { transform: scale(2); opacity: 0; }
  }
  
  @keyframes move {
    0% { transform: translateY(0); }
    50% { transform: translateY(-30px); }
    100% { transform: translateY(0); }
  }
  
  .whatsapp-icon {
    position: fixed;
    bottom: 25px; /* Adjust as needed */
    left: 25px; /* Adjust as needed */
    z-index: 1000; /* Make sure it's above other content */
    animation: move 1.5s infinite; /* Apply the movement animation */
  }
  
  .whatsapp-icon img {
    width: 60px; /* Adjust size as needed */
    height: auto;
  }
  
  .whatsapp-icon::before {
    content: '';
    position: absolute;
    width: 80px; /* Adjust size as needed */
    height: 80px; /* Adjust size as needed */
   
    border-radius: 100%;
    border: 2px solid transparent;
    background-color:rgb(189, 164, 22);
    animation: coccoc-alo-ph-circle-fill 1s infinite ease-in-out; /* Apply the filling animation */
    transition: all 0.3s;
    transform-origin: 50% 50%;
    z-index: -1; /* Ensure the circles are behind the icon */
  }

  
/* Navbar toggle */
.burger {
  position: relative;
  width: 35px;
  height: 25px;
  background: transparent;
  cursor: pointer;
  display: block;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: black;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 5px;
}

.burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 23px;
  left: 5px;
}

.navbar-toggler { 
  border: none !important;
}

.notification {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
 
  isolation: isolate;
  position: relative;
  
  height:auto;

  border-radius: 1rem;
  overflow: hidden;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
  --gradient: linear-gradient(to bottom, #b1d235, #b1d235, #b1d235, #b1d235);
  --color: #32a6ff
}

.notification:before {
  position: absolute;
  content: "";
  inset: 0.0625rem;
  border-radius: 0.9375rem;
 
  z-index: 2
}

.notification:after {
  position: absolute;
  content: "";
  width: 0.25rem;
  inset: 0.65rem auto 0.65rem 0.5rem;
  border-radius: 0.125rem;
  background: var(--gradient);
  transition: transform 300ms ease;
  z-index: 4;
}

.notification:hover:after {
  transform: translateX(0.15rem)
}

.notititle {
  color: blue;
  padding: 0.65rem 0.25rem 0.4rem 1.25rem;
  font-weight: 500;
  font-size: 2.5rem;
  transition: transform 300ms ease;
  z-index: 5;
}

.notification:hover .notititle {
  transform: translateX(0.15rem)
}

.notibody {
  color: #99999d;
  padding: 0 1.25rem;
  transition: transform 300ms ease;
  z-index: 5;
  font: 16px sans-serif;
}

.notification:hover .notibody {
  transform: translateX(0.25rem)
}

.notiglow,
.notiborderglow {
  position: absolute;
  width: 20rem;
  height: 20rem;
  transform: translate(-50%, -50%);
  background: radial-gradient(circle closest-side at center, white, transparent);
  opacity: 0;
  transition: opacity 300ms ease;
}

.notiglow {
  z-index: 3;
}

.notiborderglow {
  z-index: 1;
}

.notification:hover .notiglow {
  opacity: 0.1
}

.notification:hover .notiborderglow {
  opacity: 0.1
}

.note {
  color: var(--color);
  position: fixed;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 0.9rem;
  width: 75%;
}

#map {
  height: 350px;
  width: 70%;
  margin: 0 auto;
  border-radius: 5%;
}