<% layout("/layouts/boilerplate") %>
<section id="home">
  <!-- Content of home section -->

<div id="carouselExampleInterval" class="carousel slide mb-5" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="1800">
      <img src="public/images/carausal4.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="1800">
      <img src="public/images/carausal3.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="1800">
      <img src="/public/images/carausal2.png" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


  <div class="card mb-3 m-5" id="card1">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="/public/images/card.jpg" class="img-fluid rounded-start" id="card-img" alt="...">
      </div>
      <div class="col-md-6 ms-5 ">
        <div class="card-body">
        <h2>About Us</h2>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
          <a class="btn btn-primary" href="/aboutus" role="button">Read More</a>
        </div>
      </div>
    </div>
  </div>

 

</section>

<section id="aboutus">
  <!-- Content of about us section -->





<div class="container mt-5">
  <div class="photo">
    <img src="/public/images/card.jpg" alt="Example Photo">
  </div>

  <div class="vertical-line"></div>

  <div class="info">
    <h3>Welcome to DairyDex – where the legacy of agricultural excellence meets the innovation of tomorrow.
    </h3>
    <p>In the heart of rural India, amidst the gentle whispers of the countryside, Late Mr. Manikrao Bajirao Patil Singar 
      embarked on a journey that would transform farming practices for generations. With the guidance of Mr. Shailesh Singar
       Patil and the inspiration drawn from the organic farming wisdom of Mr Manikrao , Mr. Mangesh Singar delved into the 
       realm of Dairy farming, driven by a vision to redefine traditional agricultural methods.
    </p>
  </div>
</div>


<div class="parallax parallax-1">
  <h1>"Journey of Dairy-Dex"</h1>
  <P>Recognizing the pivotal role of nutrition in optimizing livestock productivity, Mr. Manikrao ventured into cattle feed,
     determined to enhance milk production and elevate animal health. Together with Director <b>Mrs. Bharti Singar,
      Mrs. Pallavi Shinde, and Mr. Satish Golhar </b>, they laid the foundation for a grassroots cattle feed shop that would 
      soon capture the hearts of farmers far and wide.
     <br> <br>

    With an unwavering commitment to quality and innovation, DairyDex Cattlefeed Pvt. Ltd. was born, blossoming into a 
    beacon of excellence within the agricultural sector. From humble beginnings, DairyDex has risen to become synonymous 
    with superior quality and customer satisfaction, revolutionizing farming practices with every feed. <br><br>
    
    But our journey doesn't end here. Fueled by a passion for holistic farming, we have expanded our horizons to encompass
     milk collection centers and groundbreaking Mukt Gotha initiatives. At DairyDex, sustainability isn't just a buzzword 
     – it's a way of life. We are dedicated to empowering farmers, enriching communities, and nurturing a brighter,
      more prosperous future for agriculture.
    <br><br>

    Join us in our mission to champion excellence in farming. Choose DairyDex – where tradition meets innovation, 
    and where every feed is crafted with care to ensure the success and well-being of your livestock. Experience 
    the DairyDex difference today.
    </P>
    
</div>

</section>


<section id="business">
  <!-- Content of products section -->

  <div class="main">
    <div class="upper row-cols-lg-2 row-cols-md-2 row-cols-sm-1">
  
  <div class="card business" style="width: 30rem;">
    <img src="/public/images/Cattle-Feed1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h2 class="title">Cattle Feed</h2>
    </div>
  </div>

  <div class="card business" style="width: 30rem;">
    <img src="/public/images/milk.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h2 class="title">Cattle Milk</h2>

    </div>
  </div>
</div>

<div class="lower row-cols-lg-2 row-cols-md-2 row-cols-sm-1">
  <div class="card business" style="width: 30rem;">
    <img src="/public/images/flour.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h2>Flour Mill</h2>
    </div>
  </div>

  <div class="card business" style="width: 30rem;">
    <img src="/public/images/cattle-feed.webp" class="card-img-top" alt="...">
    <div class="card-body">
      <h2>Minerals for cattle</h2>
    </div>
  </div>
  </div>
</div>
</section>



















  