<% layout("/layouts/boilerplate.ejs") %>

<div class="container">
<div class="button-container">

    <form action="/listings/new">
<button >Create Product</button>
</form>

<form action="/listings">
<button>Delete/Edit Product</button>
</form>


<button>See Reviews</button>
</div>


</div>